* {
    padding: 0;
    margin: 0 !important;
    box-sizing: border-box;
}


h1 {
    font-weight: 900;
    color: #d90429;
    padding: 15px;
    background: #d904292b;
    font-size: 2rem;
    margin-top: 76px !important;
    border-radius: 6px;
}

main .top {
    bottom: 20px;
    border: 1px solid #ddd;
    right: 20px;
    z-index: 1000;
    background-color: #fff;
    display: none;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    z-index: 1000;
}

.loading span {
    position: fixed;
    width: 50PX;
    HEIGHT: 50px;
    top: 50%;
    z-index: 1000;
    translate: -50% -50%;
    left: 50%;
    border-radius: 50%;
    border: 1px solid #000;
    border-right: transparent;
    border-bottom: transparent;
    animation: load infinite running 0.5s linear;
}

.con {
    opacity: 0;
    transition: 0.2s;
}

.con.v {
    opacity: 1;

}

@keyframes load {
    100% {
        rotate: 360deg;
    }
}

main .top i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    color: black;
    font-size: 25px;
}

main .top:hover {
    background-color: #eee;
}


body {
    font-family: 'Lato', sans-serif;
    position: relative;
    overflow-y: hidden;
}

:root {
    --pnik: #e63946;
    --main-background: #f7f7f7;
}

.over {
    background: #000000b8;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    top: 0;
}

.over.show {
    z-index: 1000;
    opacity: 1;
}

.bordered {
    padding-bottom: 35px;
    border-bottom: 1px solid #eee;
}

::-webkit-scrollbar {
    width: 15px;
    color: red;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

.newsLive {
    background: #e63946 !important;
}

li {
    list-style: none;
}

p {
    color: #aaa;
    /* font-weight: bold; */
    font-weight: 500;
    font-size: 14px;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul {
    padding: 0 !important;
}

i {
    font-weight: 900 !important;
}

a {
    text-decoration: none;
    color: #fff;
}

header .other span {
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

header nav ul li {
    transition: 0.2s ease-out;
    border-radius: 5px;
}

header nav ul li:hover {
    background-color: #585353;
    background: #e63946;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 20px !important;
    z-index: 1000;
    transition: 0.2s ease-in-out;
}

header nav {
    display: flex;
}

main .update {
    background-color: var(--main-background);
    border-radius: 7px;
    margin-top: 70px !important;
    padding: 15px 40px;
}

.container {
    margin-left: auto !important;
    margin-right: auto !important;
}

main .update ul li::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background: var(--pnik);
    border-radius: 50%;
    left: -20px;
    top: 50%;
    translate: 0 -50%;
}

span.pinkSpan {
    color: var(--pnik);
    font-weight: bold;
    font-size: px;
}

/* 


*/
main .update span.up {
    color: var(--pnik);
    font-weight: bold;
    font-size: 20px;
    min-width: 130px;
}

main .land {
    height: 90vh;
    gap: 15px !important;
}

main .land section .last-sec {
    right: 0;
    height: 100%;
    top: 0;
}

main .land section {
    /* background-image: url("imgs/fardouse-lomat-jahan-rumpa-42MnwWLx0rw-unsplash.jpg"); */
    height: 90vh;
}

main .land section .last-sec img {
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

main .land section .first-sec {
    background: var(--main-background);
    padding: 30px 15px;
    border-radius: 6px;
    width: 50%;
    position: absolute;
    translate: 0 -50%;
    top: 50%;
    z-index: 999;
}

main .land section .first-sec .head span {
    font-size: 15px;
    color: gray;
}

main .land section .first-sec .body h2 {
    line-height: 1.3;
    font-size: 30px;
}

main .land section .first-sec .body p {
    color: #aaa;
    font-weight: bold;
}

main .land section .first-sec .head span::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #ddd;
    border-radius: 50%;
    left: -10px;
    top: 10px;
}

main .land section .first-sec img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
}

main .land .articles article .details img {
    width: 40px;
    height: 40px;
}

main .land .articles article .details {
    flex: 2;
}

main .land .articles article .image {
    flex: 1;
}

main .land .articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    height: fit-content;
    gap: 20px;
}


main .land .articles .details .hed img,
.latest-news .allNews .new>div img {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

main .land article .image img {
    height: 100%;
    border-radius: 10px;
}

main .land .articles .details .hed p,
.most-Read section .most-new .details p {
    margin-left: 20px !important;
}

.latest-news .allNews .new>div h4 {
    position: relative;
}

.most-Read section:nth-child(2) .co {
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    height: fit-content;
    gap: 15px;
}

main .land .articles .details h5::after,
.latest-news .allNews .new>div h4::after,
.most-Read section .info h3::after,
.most-Read section .most-new .details h5::after,
.weekly .highlight .high .details>div h5::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #ddd;
    border-radius: 50%;
    right: -15px;
    top: 10px;
}

main .land .articles article:hover {
    background: var(--main-background);
}

main .land .articles article {
    height: fit-content;
    /* transition: all 0.2s ease-in-out; */
    border-radius: 10px;
    cursor: pointer;
}

.allNews .new a {
    display: block;
    bottom: 0;
    left: 50%;
    translate: -50% 0
}

/*   
     */

.most-Read section .info img {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.most-Read section .img img {
    width: 100%;
    height: 250px;
}

.radius-image {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.latest-news>div a,
section a {
    color: var(--pnik);
    font-size: 18px;
}

.most-Read .latest-news .allNews .new p::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #ddd;
    border-radius: 50%;
    left: -12px;
    top: 10px;
}

.most-Read section .most-new>div:first-child img {
    width: 100px;
    height: 120px;
}

.most-Read section .most-new div:first-child {
    flex: 1;
}

.most-Read section .most-new div:last-child {
    flex: 2;
}

.most-Read section .most-new .details {
    padding: 0 10px;
}

.most-Read section .most-new:hover {
    background-color: var(--main-background);
    cursor: pointer;
    border-radius: 6px;
}

.weekly .highlight,
.top-creator .creators {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.weekly .highlight .high {

    transition: 0.2s ease-in;
}

.weekly .highlight .high:hover {
    background-color: var(--main-background);
    border-radius: 7px;
}

.weekly .highlight .high>img {
    width: 100%;
    height: 200px;
}

.top-creator .creator {
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

.top-creator .creator:hover {
    background-color: var(--main-background);
}

.top-creator .creator>div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

footer {
    background-color: var(--main-background);
    padding: 95px 15px;
}

footer section input[type="submit"] {
    font-weight: bold;
    padding: 10px;
    border: none;
    background: #e63947bf;
    color: #fff;
    border-radius: 10px;
}

footer .other-sections ul li:hover a {
    color: #000;
}

footer section input[type="submit"]:hover {
    background-color: #e63946;
}

footer section :first-of-type>div {
    border: 3px solid #ddd;
    width: fit-content;
    border-radius: 8px;
    font-size: 20px;
    height: 44px;
}

footer section :first-of-type p {
    max-width: 300px;
}

footer .val i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

footer .val input {
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #aaa;
    background: transparent;
}

footer .val input::placeholder {
    color: #aaa;
}

footer .other-sections {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

h5 {
    font-size: 18px;
}

footer .other-sections ul li a {
    color: #aaa;
    transition: 0.2s;
    display: block;
}

@media (max-width:767px) {
    header nav {
        background-color: red;
        /* display: none !important; */
    }

    footer .other-sections {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    footer .other-sections ul {
        text-align: center;
    }

    .top-creator .creator {
        justify-content: center;
    }

    main .land .articles {
        display: none !important;
    }

    main .land section .last-sec {
        display: none !important;
    }

    main .land section .first-sec {
        width: auto !important;
    }

    main .land section {
        width: 100%;
    }

    main .update {
        flex-wrap: wrap;
    }

    header nav ul {
        position: absolute;
        right: 0;
        flex-direction: column;
        z-index: 1000;
        transition: 0.4s ease-in-out;
        top: -1000%;
        background: black;
        padding: 10px !important;
    }

    header nav ul.viewd {
        top: 56px;
    }
}

@media (min-width:767px) {
    header .other span.bars {
        display: none !important;
    }
}

@media (min-width:767px) and (max-width:992px) {
    main .land section .first-sec {
        width: 70% !important;
    }
}